{% extends 'base.html' %}
{% block title %}
<title>AnimeFan Техники</title>
{% endblock title %}
{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
{% for jutsu in object_list %}
<div class="col">
    <div class="card">
        <a href="{% url 'jutsu_detail' jutsu.pk %}">
        <img src="{{ jutsu.photo.url }}" class="card-img-top" alt="">
        <div class="card-body" style="color:black">
        <h5 class="card-title" style="color:black">{{ jutsu.name }}</h5></a>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">О нём : {{ jutsu.about | slice:":190" }}<a href=""></a></li>
            <li class="list-group-item">Использует : {{ jutsu.ninja | slice:":190" }}  </li>
        </ul>
        {% if user.is_staff %}
        <div class="card-body" style="color:black">
            <a href="{% url 'jutsu_detail' jutsu.pk %}" class="card-link">подробнее..</a>
        </div>
        {% endif %}
        <div class="card-footer">
            <small class="text-muted">Автор : {{ jutsu.author }} | {{ jutsu.date }}</small>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock content %}